<!DOCTYPE html>
<html lang="es">
<head>
</head>
<body>
    <section id="events" class="events">
        <div class="container">
            <div class="section-title">
                <p>Crea un nuevo proyecto</p>
            </div>
            <div class="row">
                <div class="container">
                    <div class="container">
                        <p>Para crear un nuevo proyecto deberás subir un archivo con datos (csv,xlsx,...) y darle un nombre al proyecto</p>
                    </div>
                    &nbsp;
                    <div class="row">
                        <h5>Subir el documento</h5>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                             {{ form.as_p }}
                            <button type="submit">Subir Archivo de datos</button>
                        </form>
                    </div>
                    
                    {% comment %} <div class="row">
                        <h5>Nombre del proyecto</h5>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </section>
</body>
</html>