{% extends "predecirTemplate.html" %}

{% block main %}

<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3 col-lg-2 bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"><br><h4>Predecir datos</h4>
          Version de los datos para crear los modelos: <br>{{proyecto.get_version_datos}}
        </div>
        <div class="list-group list-group-flush">
          <a href = "" class="list-group-item list-group-item-action bg-light">
            
          </a>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Content -->
      <div class="col-md-9 col-lg-10">

        <h1>Subir archivo para predecir</h1>
        <br>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="archivo_a_predecir">Archivo a predecir:</label>
            {{formulario.archivo_a_predecir}}
            <br>
            <br>
            <label for="modeloPredecir">Selecciona el modelo a predecir:</label>
            
            {{formulario.modeloPredecir}}
            
            {% comment %} <input type="file" class="form-control-file" id="archivo" name="archivo" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"> {% endcomment %}
            <button type="submit">Subir</button>
          </div>
        </form>



      </div> 
    </div>
  </div>

{% endblock %}