<!DOCTYPE html> 
<html lang="es">
    <body>
        <header id="header" class="fixed-top">
            <div class="container d-flex align-items-center">
        
              <h1 class="logo me-auto"><a href="/index.html">TFG MLaaS</a></h1>
              <!-- Uncomment below if you prefer to use an image logo -->
              <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        
              <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                  <li><a href="/index.html#events">Como Funciona</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
              </nav><!-- .navbar -->     
              <a href="/authenticate/" class="get-started-btn">Entra</a>
        
            </div>
          </header>
    </body>
</html>